<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora básica</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body align=center>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><legend><h1>Calculadora básica - 06/07/22</h1></legend></div>
        <div class="col-md-4"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a class="btn btn-primary" href="{{ url_for('form') }}" role="button">Iniciar calculadora</a>
        </div>
        <div class="col-md-4"></div>
    </div>
    
</body>

</html>
